<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create task</title>
</head>
<body>
    <form action="/createtask" method="post">
        <label for="task">TASK</label>：<input id="task" type="text" name="task"><br>
        <label for="detail">DETAIL</label><input id="detail" type="text" name="detail"><br>
        <button type="submit" class="btn btn-primary btn-lg">RESISTER</button> 
    </form>
</body>
</html>