<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', filename='js/tasks.js') }}"></script>
    <title>Create task</title>
</head>
<body>
    <section>
    <form class="addTask">
        TASK:<input type="text" name="task" class="task"><br>
        DETAIL:<input type="text" name="detail" class="detail"><br>
        <input id="add" type="button" class="btn" value="resister"></input>
    </form>
    <a href="/" role="button">RETURN HOME</a>
    </section>
</body>
</html>
